[submodule "lua/test22"]
	path = lua/test22
	url = https://github.com/Ron2014/Circular-Require-in-lua
	branch = master
[submodule "lua\\test24\\middleclass"]
	path = lua\\test24\\middleclass
	url = https://github.com/kikito/middleclass
